header{display:flex;}@media only screen and (max-width:375px){.site-branding__logo{justify-content:center;}}
@media only screen and (max-width:375px){.content{display:flex;}h1{justify-content:center;}}
